<div class="page-caption">
  <h1>Statistics Page</h1>
  <hr>
</div>

<div class="stat-card " id="container" style="min-width: 600px; height: 800px; max-width: 800px; margin: 0 auto"></div>

<div class="stats-card " id="Country_sources" style="min-width: 600px; height: 800px; max-width: 800px; margin: 0 auto"></div>

<script>

  var keywords = []
  var totals = []
  var keywords = <%= raw @array_keyword.to_json %>;
  var totals =  <%= raw @array_tot.to_json %>;

  var pdata = [];

  for (i = 0; i < keywords.length; i++) {
    var subdata = { name: keywords[i], y: totals[i] }
    pdata.push(subdata)
  }



  Highcharts.setOptions({

  })

  // Build the chart
  Highcharts.chart('container', {
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false,
      type: 'pie'
    },
    title: {
      text: 'Popular keywords for today'
    },
    tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>'
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: true
        },
        showInLegend: false
      }
    },
    series: [{
      name: 'Popularity',
      colorByPoint: true,
      data: pdata

    }]
  });


  var a = []
  var b = []
  var a = <%= raw @sorted_keys.to_json %>;
  var b =  <%= raw @sorted_values.to_json %>;

  var adata = [];

  for (i = 0; i < a.length; i++) {
    var subdata = { categories: a[i], data: b[i] }
    adata.push(subdata)
  }

  Highcharts.chart('Country_sources', {
    chart: {
      type: 'bar'
    },
    title: {
      text: 'Historic World Population by Region'
    },
    subtitle: {
      text: 'Source: <a href="https://en.wikipedia.org/wiki/World_population">Wikipedia.org</a>'
    },
    xAxis: {
      categories: a[i],
      title: {
        text: null
      }
    },
    yAxis: {
      min: 0,
      title: {
        text: 'Population (millions)',
        align: 'high'
      },
      labels: {
        overflow: 'justify'
      }
    },
    tooltip: {
      valueSuffix: ' millions'
    },
    plotOptions: {
      bar: {
        dataLabels: {
          enabled: true
        }
      }
    },
    legend: {
      layout: 'vertical',
      align: 'right',
      verticalAlign: 'top',
      x: -40,
      y: 80,
      floating: true,
      borderWidth: 1,
      backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
      shadow: true
    },
    credits: {
      enabled: false
    },
    series: [{

      data: b[1]

    }]
  });
</script>