<div class="page-caption">
  <h1>Statistics Page</h1>
  <hr>
</div>

<div class="stat-card " id="container" style="min-width: 600px; height: 800px; max-width: 800px; margin: 0 auto"></div>



<script>

  var keywords = []
  var totals = []
  var keywords = <%= raw @array_keyword.to_json %>;
  var totals =  <%= raw @array_tot.to_json %>;

  var pdata = [];

  for (i = 0; i < keywords.length; i++) {
    var subdata = { name: keywords[i], y: totals[i] }
    pdata.push(subdata)
  }



  Highcharts.setOptions({

  })

  // Build the chart
  Highcharts.chart('container', {
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false,
      type: 'pie'
    },
    title: {
      text: 'Popular keywords for today'
    },
    tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>'
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: true
        },
        showInLegend: false
      }
    },
    series: [{
      name: 'Popularity',
      colorByPoint: true,
      data: pdata

    }]
  });

</script>

<hr>

<div class="stats-card " id="Country_sources" style="min-width: 600px; height: 800px; max-width: 800px; margin: 0 auto"></div>


<script>


  var a = []
  var b = []
  var a = <%= raw @sorted_keys %>;
  var b =  <%= raw @sorted_values %>;

  var cdata = [];


  for (i = 0; i < a.length; i++) {
    var subdata = [a[i], b[i]]
    cdata.push(subdata)
  }
  console.log(a);
  console.log(b);

  Highcharts.chart('Country_sources', {
    chart: {
      type: 'column'
    },
    title: {
      text: 'News Sources by Country'
    },
    subtitle: {
      text: 'Populated from around the world'
    },
    xAxis: {
      type: 'category',
      labels: {
        rotation: -45,
        style: {
          fontSize: '13px',
          fontFamily: 'Verdana, sans-serif'
        }
      }
    },
    yAxis: {
      min: 0,
      title: {
        text: 'Number of Sources'
      }
    },
    legend: {
      enabled: false
    },
    tooltip: {
      pointFormat: 'Number of News Sources: <b>{point.y} </b>'
    },
    series: [{
      name: 'Population',
      data: cdata,
      dataLabels: {
        enabled: true,
        rotation: -90,
        color: '#FFFFFF',
        align: 'right',
        format: '{point.y}', // one decimal
        y: 10, // 10 pixels down from the top
        style: {
          fontSize: '13px',
          fontFamily: 'Verdana, sans-serif'
        }
      }
    }]
  });
</script>

# Highcharts.org (2018) Highcharts and Highmaps [Source code]. https://www.highcharts.com
