
<h1>News From Around The World</h1>
<style>
  #map {
    height: 500px;
    width: 100%;
  }
</style>
<div id="map"></div>
<p><%= @all_countries %>>/p>
<script>
  function initMap() {
    var all_countries = <%=raw @all_countries.to_json %>;
    var location = {lat: 57.1653 , lng: 2.1045};
     var map = new google.maps.Map(document.getElementById("map"), {
      zoom: 5,
      center: location
    });


  var markers_array = [];




  for (var i = 0, length = all_countries.length; i < length; i++)
  {
                       var country = all_countries[i];

                       var info =  "<strong>" + country.name + "</strong><br/>" + "<a id='countrynews' href='/usersearches/search/'>News</a>";

                       var infowindow = new google.maps.InfoWindow({
                        content: info
                        });


                        var uluru = {lat: parseFloat(country.latitude), lng: parseFloat(country.longitude) };
                        //var infowindow = new google.maps.InfoWindow({content: contentString});
                        var marker = new google.maps.Marker({position: uluru, map: map, title: country.name, content: info});
                        //marker.bindInfoWindow(contentString);
                        markers_array.push(marker);


  }



                    markers_array.forEach(function(marker){
                             marker.addListener('click', function() {
                              infowindow.setContent(marker.content);
                              infowindow.open(map, marker);
                         });
                       });



}

</script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5eQ4rnc6jnHnikWPckD8peHa9bWkLcvE&callback=initMap"></script>
