
<h1>News From Around The World</h1>

<style>
  #map {
    height: 500px;
    width: 100%;
  }
</style>

<div id="map"></div>

<script>
  function initMap() {
    var all_cinemas = <%=raw @all_countries.to_json %>;
    var location = {lat: 57.1653, lng: 2.1045};
    var map = new google.maps.Map(document.getElementById("map"), {
      zoom: 4,
      center: location
    });
    // for (var i = 0, length = all_countries.length; i < length; i++)
    // {
    //                      var data = all_countries[i];



    var marker = new google.maps.Marker({
      position: location,
      map: map
    })
  }

</script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7jozg_f46_xudB4bPwi7xaltmjTcaNBQ&callback=initMap"></script>
