<div class="col-lg-2 col-md-2">
    <div class="list-group">
        <em href="#" class="list-group-item active">Most Searched Keywords</em>
        <% top_keywords.each do |s| %>
        <% s.each do |k,v| %>
        <%= link_to usersearches_create_path(q: k), class:"list-group-item" do %>
        <span>
            <%= k.titleize %></span>
        <% end %>
        <% end %>
        <% end %>

    </div>
</div>
