<!----------- Footer ------------>
<footer class="footer-bs">
  <div class="row">
    <div class="col-md-4 footer-brand animated fadeInLeft">
      <div class=col-md-6>
        <img src="/assets/University_of_Aberdeen_arms.svg" width="200" height="150" class="d-inline-block align-top"
          alt="">
      </div>
      <div class=col-md-6>
        <p>News API App wrritten By Hauwa Abdullahi, Damilola Ajaja, & Chidozie Nnachor</p>
        <p>© 2018 AWAD, All rights reserved</p>
      </div>
    </div>
    <div class="col-md-4 footer-nav animated fadeInUp">
      <h4>Quick Links —</h4>
      <div class="col-md-6">
        <ul class="list">
          <li><a href="#">Advanced Search</a></li>
          <li><a href="#">Geo Search</a></li>
          <li><a href="#">News Statistics</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 footer-social animated fadeInDown">
      <h4>References</h4>
      <ul>
        <li><a href="https://newsapi.org">NewsAPI</a></li>
        <li><a href="https://webhose.io/">Webhose</a></li>
        <li><a href="https://www.highcharts.com">Highcharts</a></li>
        <li><a href="https://bootsnipp.com/snippets/e3QvQ">BootSnip</a></li>
      </ul>
    </div>

  </div>
</footer>